* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
}

.item {
  height: 80vh;
  flex: .1;
  transition: .6s ease;
}

.item.active {
  flex: 1;
}

.item:not(:last-child) {
  margin-right: 1rem;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10rem;
}